version: '3.8'

services:
  api:
    build: .
    container_name: mcat-qanda-api
    restart: always
    ports:
      - "80:8000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - ./users.db:/app/users.db
      - ./static:/app/static
    environment:
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
      - DB_URL=${DB_URL}
      - SECRET_KEY=${SECRET_KEY}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
